/* line 1, ../../src/scss/pm-image-editor.scss */
image-editor {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
}
/* line 8, ../../src/scss/pm-image-editor.scss */
image-editor .image-editor-canvas {
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 15, ../../src/scss/pm-image-editor.scss */
image-editor image-selection {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #f00;
  width: 100px;
  height: 50px;
  overflow: hidden;
  z-index: 10;
}
/* line 24, ../../src/scss/pm-image-editor.scss */
image-editor image-selection[draggable] {
  cursor: move;
}
/* line 29, ../../src/scss/pm-image-editor.scss */
image-editor editor-panel {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 35, ../../src/scss/pm-image-editor.scss */
image-editor editor-panel span {
  float: left;
  display: block;
  margin-right: 8px;
  height: 32px;
  width: 32px;
  background: transparent url(image-edit-icons.png) 0 0 no-repeat;
  cursor: pointer;
}
/* line 44, ../../src/scss/pm-image-editor.scss */
image-editor editor-panel .image-editor-rotate-cw {
  background-position: -32px 0;
}
/* line 47, ../../src/scss/pm-image-editor.scss */
image-editor editor-panel .image-editor-rotate-acw {
  background-position: -64px 0;
}
/* line 50, ../../src/scss/pm-image-editor.scss */
image-editor editor-panel .image-editor-flip-h {
  background-position: -96px 0;
}
/* line 53, ../../src/scss/pm-image-editor.scss */
image-editor editor-panel .image-editor-flip-v {
  background-position: -128px 0;
}
/* line 56, ../../src/scss/pm-image-editor.scss */
image-editor editor-panel .image-editor-undo {
  background-position: -160px 0;
}
/* line 59, ../../src/scss/pm-image-editor.scss */
image-editor editor-panel .image-editor-redo {
  background-position: -192px 0;
}
/* line 62, ../../src/scss/pm-image-editor.scss */
image-editor editor-panel .disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/* line 68, ../../src/scss/pm-image-editor.scss */
image-editor .resizable-handle {
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1px solid #f00;
}
/* line 74, ../../src/scss/pm-image-editor.scss */
image-editor .resizable-nw {
  cursor: nw-resize;
  left: 0;
  top: 0;
}
/* line 79, ../../src/scss/pm-image-editor.scss */
image-editor .resizable-ne {
  cursor: ne-resize;
  right: 0;
  top: 0;
}
/* line 84, ../../src/scss/pm-image-editor.scss */
image-editor .resizable-sw {
  bottom: 0;
  cursor: sw-resize;
  left: 0;
}
/* line 89, ../../src/scss/pm-image-editor.scss */
image-editor .resizable-se {
  bottom: 0;
  cursor: se-resize;
  right: 0;
}
/* line 94, ../../src/scss/pm-image-editor.scss */
image-editor .resizable-n {
  cursor: n-resize;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
/* line 100, ../../src/scss/pm-image-editor.scss */
image-editor .resizable-s {
  bottom: 0;
  cursor: s-resize;
  left: 50%;
  margin-left: -3px;
}
/* line 106, ../../src/scss/pm-image-editor.scss */
image-editor .resizable-w {
  cursor: w-resize;
  left: 0;
  margin-top: -3px;
  top: 50%;
}
/* line 112, ../../src/scss/pm-image-editor.scss */
image-editor .resizable-e {
  cursor: e-resize;
  margin-top: -3px;
  right: 0;
  top: 50%;
}
