image-editor {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;

  .image-editor-canvas {
    width: 100%;
    position: relative;
    overflow: hidden;
  }


  image-selection {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;

    [draggable] {
      cursor: move;
    }

    .image-editor-selection-border-top,
    .image-editor-selection-border-bottom {
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background-image: url('data:image/gif;base64,R0lGODlhBgABAKEAAP///wAAADY2Nv///yH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQACgD/ACwAAAAABgABAAACAxQuUgAh+QQBCgADACwAAAAABgABAAACA5SAUgAh+QQBCgADACwAAAAABgABAAACA5SBBQAh+QQBCgADACwAAAAABgABAAACA4QOUAAh+QQBCgADACwAAAAABgABAAACAwSEUAAh+QQBCgADACwAAAAABgABAAACA4SFBQA7');
        z-index: 1;
    }
    .image-editor-selection-border-top {
        top: 0;
    }
    .image-editor-selection-border-bottom {
        bottom: 0
    }
    .image-editor-selection-border-left,
    .image-editor-selection-border-right {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        background-image: url('data:image/gif;base64,R0lGODlhAQAGAKEAAP///wAAADY2Nv///yH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQACgD/ACwAAAAAAQAGAAACAxQuUgAh+QQBCgADACwAAAAAAQAGAAACA5SAUgAh+QQBCgADACwAAAAAAQAGAAACA5SBBQAh+QQBCgADACwAAAAAAQAGAAACA4QOUAAh+QQBCgADACwAAAAAAQAGAAACAwSEUAAh+QQBCgADACwAAAAAAQAGAAACA4SFBQA7');
        z-index: 1;
    }
    .image-editor-selection-border-left {
        left: 0;
    }
    .image-editor-selection-border-right {
        right: 0
    }

    .image-editor-overlay-top,
    .image-editor-overlay-left,
    .image-editor-overlay-right,
    .image-editor-overlay-bottom {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
    }
  }

  editor-panel {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;

    span {
      float: left;
      display: block;
      margin-right: 8px;
      height: 32px;
      width: 32px;
      background: transparent url(image-edit-icons.png) 0 0 no-repeat;
      cursor: pointer;
    }
    .image-editor-rotate-cw {
        background-position: -32px 0;
    }
    .image-editor-rotate-acw {
        background-position: -64px 0;
    }
    .image-editor-flip-h {
        background-position: -96px 0;
    }
    .image-editor-flip-v {
        background-position: -128px 0;
    }
    .image-editor-undo {
        background-position: -160px 0;
    }
    .image-editor-redo {
        background-position: -192px 0;
    }
    .disabled {
        opacity: 0.5;
        filter: alpha(opacity=50);
        cursor: default;
    }
  }

  .resizable-handle {
    position: absolute;
    width: 6px;
    height: 6px;
    border: 1px solid #000;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6), inset 1px 1px 0 rgba(255, 255, 255, 0.6);
  }
  .resizable-nw {
    cursor: nw-resize;
    left: 1px;
    top: 1px;
  }
  .resizable-ne {
    cursor: ne-resize;
    right: 1px;
    top: 1px;
  }
  .resizable-sw {
    bottom: 1px;
    cursor: sw-resize;
    left: 1px;
  }
  .resizable-se {
    bottom: 1px;
    cursor: se-resize;
    right: 1px;
  }
  .resizable-n {
    cursor: n-resize;
    left: 50%;
    margin-left: -3px;
    top: 1px;
  }
  .resizable-s {
    bottom: 1px;
    cursor: s-resize;
    left: 50%;
    margin-left: -3px;
  }
  .resizable-w {
    cursor: w-resize;
    left: 1px;
    margin-top: -3px;
    top: 50%;
  }
  .resizable-e {
    cursor: e-resize;
    margin-top: -3px;
    right: 1px;
    top: 50%;
  }
}
